body {
    background-color: black;
    color: grey;
    font-size: 20px;
    font-family: 'Denk One', sans-serif;
}

.mainContainer {
    max-width: 930px;
}

.gameTitle {
    margin: 15px auto 15px auto;
    height: 130px;
}

.magicNum {
    color: yellow;
    text-align: center;
}

.winsDisplay {
    color: green;
    text-align: center;
}

.lossDisplay {
    color: red;
    text-align: center;
}

.scoreDisplay {
    color: #3798dd;
    text-align: center;
}

.gem {
    width: 160px;
    height: 102px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* After applying Bootstrap, gems still needed to be centered and resized for small viewport. */
@media (max-width: 591px) {
    .gem {
        display: block;
        margin: 0px auto 20px auto;
        width: 80px;
        height: 51px;
    }
}